@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,600&family=Roboto+Condensed:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#active {
  border-bottom: 2.2px solid #ee1616;
  width: 0%;
}

.header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../asests/images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header img {
  width: 300px;
}
.header h1 {
  font-size: 45px;
  margin-top: 90px;
  color: white;
  text-align: center;
}
.underline {
  margin: auto;
  height: 1.5px;
  content: "";
  width: 20vw;
  background-color: white;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links .bi {
  display: none;
}
.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background-color: #ee1616;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  transition: 0.8s;
}
nav .bi {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .header img {
    width: 200px;
    margin-top: 10px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .bi {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links .bi {
    display: block;
  }
  .row {
    flex-direction: column;
  }

  .footer h4 {
    font-size: ;
  }
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-col {
  flex-basis: 31%;
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-col h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col p {
  font-size: 1.125rem;
}
.course-col:hover {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
}
.facilities p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  transition: 0.6s all;
  width: 100%;
  border-radius: 10px;
}
.facilities-col img:hover {
  box-shadow: 5px 5px 15px black;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
}

/* footer css is here */
.footer {
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 30px 0;
}
.footer h4 {
  color: white;

  margin-top: 5px;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 500;
}
.footer p {
  color: #ffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.social .fab {
  color: #ffff;
  margin: 0 10px;
  cursor: pointer;
  padding: 15px 0;
}
.footer span {
  color: #c7c4c473;
  font-size: 13px;
}
@media (max-width: 700px) {
  .header img {
    height: 70px;
    margin-top: 20px;
    width: 200px;
  }
  .header h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
  }
  .underline {
    margin: auto;
    height: 1.5px;
    content: "";
    width: 35vw;
    background-color: white;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .bi {
    display: block;
    color: #fff;
    margin: 10px 40px 10px 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links .bi {
    display: block;
  }
  .row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .course h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .testmonial-col {
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #fbe7e7;
    padding: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .images {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images img {
    text-align: center;
    height: 70px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 50%;
  }
  .testmonial-col p {
    text-align: center;
    padding: 0;
  }
  .testmonial-col h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-transform: capitalize;
  }
  .facilities-col h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
  .icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ee1616;
  }
  .testmonial-col .bi {
    padding: 0px 4px;
  }
  .cta h1 {
    padding: 0 20px;
  }
  .footer h4 {
    font-size: ;
  }
}
